* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#encabezado{
    background-color: white;
    height: 100px;
}


/* CONFIGURACION DEL MENU RESPONSIVO*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #77021a;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.menuLogo {
    width: 25%;
    float: right;
}

/* CONFIGURACION DE TEXTO E IMAGENES */

#redesSociales {
    float: right;
}

#titulo1 {
    color: #EF0A3E;
    padding: 30px 0px 0px 70px;
}


.logoface {
    width: 100px;
}

.logotwitter {
    width: 100px;
    height: 100px;
}

.logoinsta {
    width: 100px;
    height: 100px;
}

#seccion1 {
    text-align: right
}






/* SECCION 3*/






hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333;
    /* old IE */
    background-color: #333;
    /* Modern Browsers */
}

footer {
    background-color: #75001b;
    color: white;
    text-align: center;
}

@media screen and (max-width: 800px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: white;

    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #75001b;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        height: 400px;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }

    #seccion1 {
        text-align: center;
    }







}